.prayer-timings-header {
  font-size: 22px;
  text-align: center;
}

.prayer-timings-table {
  border-collapse: collapse;
  border-radius: 10px;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 0.9em;
  font-family: sans-serif;
  width: 70%;
  box-shadow: 0 0 10px #000;
}

.prayer-timings-table thead tr {
  background-color: #89C68B;
  color: #ffffff;
  text-align: left;
}

.prayer-timings-table th {
    color: #224a23;
}

.prayer-timings-table th,
.prayer-timings-table td {
  padding: 12px 15px;
}

.prayer-timings-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.prayer-timings-table tbody tr:nth-of-type(odd) {
    background-color: #f3f3f3;
}

.prayer-timings-table tbody tr:nth-of-type(even) {
    background-color: #89C68B;
}

.prayer-timings-table tbody tr:last-of-type {
    border-bottom: 2px solid #224a23;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
}
